.Banner {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
  z-index: -1;
  overflow: hidden;
}

.Banner__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Banner__header--main {
  color: #333;
  min-width: 600px;
  text-shadow: 1px 4px 4px rgba(0,0,0,.4), 10px 8px 13px rgba(0,0,0,.1);
  font-size: 80px;
  font-weight: 900;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 1s linear 2s;
}

.Banner__header--sub {
  opacity: 0;
  transform: translateX(40px);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #666;
  transition: all 1s linear 2.4s;
}

.show {
  opacity: 1;
  transform: translate(0, 0);
}

/*Stripe animation*/
.hide {
  opacity: 0;
  visibility: hidden;
}

.stripe {
  height: 100vh;
  top: 0;
  opacity: 1;
  position: absolute;
  background-color: #666;
  z-index: 1;
  transition: all .3s ease-in-out;
}

.stripe-0 {
  width: 20%;
  top: 0;
  left: 0;
  animation: movedown 1.8s ease-in-out 1.0s;
}

.stripe-1 {
  width: 10%;
  left: 20%;
  animation: moveup 1.8s ease-in-out .8s; 
}

.stripe-2 {
  width: 40%;
  left: 30%;
  animation: movedown 1.8s ease-in-out .8s;
}

.stripe-3 {
  width: 30%;
  left: 70%;
  animation: moveup 1.8s ease-in-out 1.0s;
}

/*Mobile devices*/
@media only screen and (max-width: 576px) {
  .Banner__header--main {
    font-size: 60px;
  }
  
  .Banner__header--sub {
    letter-spacing: 1px;
  }
}

/*X-small Mobile devices*/
@media only screen and (max-width: 376px) {
  .Banner__header--main {
    font-size: 45px;
  }
  
  .Banner__header--sub {
    font-size: 14px;
  }
}


/*Animation*/
@keyframes movedown {
  0% {
    transform: translateY(0);
  }
  
  50% {
    opacity: .8;
  }
  
  100% {
    transform: translateY(1000px);
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes moveup {
  0% {
    transform: translateY(0);
  }
  
  100% {
    transform: translateY(-1000px);
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}