.Contact {
  overflow: hidden;
}

.Contact__left {
  background-image: url('../assets/keyboard.jpg');
  background-size: cover;
  max-height: 300px;
}

.Contact__right {
  padding: 15px 0 0 40px;
}

.Contact__right--header {
  text-align: left;
  font-size: 25px;
  color: #333;
  font-weight: 900;
  margin: 0;
  letter-spacing: 0.2px;
}

.Contact__list {
  margin-bottom: 15px;
  max-width: 400px;
}

.Contact__list--item {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 0;
}

.Contact__list--item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.Contact__list--icon {
  font-size: 16px;
  color: #f5ae51;
  margin-right: 10px;
}

.Contact__list--info {
  color: #666;
  font-weight: 700;
  margin: 0;
  font-size: 14px;
}

/*Hide image*/
@media only screen and (max-width: 768px) {
  .Contact {
    text-align: center;
  }

  .Contact__left {
    display: none;
  }

  .Contact__list {
    margin: 0 auto 15px auto;
    max-width: 350px;
  }
}

/*Mobile devices*/
@media only screen and (max-width: 576px) {
  .Contact__right {
    padding: 15px 0 0 20px;
  }

  .Contact__list {
    margin: 0 auto 15px auto;
    max-width: 310px;
  }

  .Contact__list--info {
    letter-spacing: 0.8px;
  }
}

/*X-small Mobile devices*/
@media only screen and (max-width: 376px) {
  .Contact__right {
    padding: 15px 0 0 0;
  }

  .Contact__list {
    max-width: 290px;
  }

  .Contact__list--info {
    font-size: 12px;
  }
}
