.Skills {
  max-width: 900px;
  text-align: center;
  margin: 50px auto 80px auto;
}

.Skills__container {

}

.Skills__card:last-child {
  margin-right: 0;
}

.Card {
  text-align: center; 
  padding: 10px;
}

.Card:hover .Card__container {
  transform: translateY(-3px);
  box-shadow: 4px 4px 10px rgba(0,0,0,.1);
}

.Card__container {
  position: relative;
  margin: 20px auto 0 auto;
  width: 280px;
  height: 150px;
  padding: 30px 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,.18);
  transition: all .2s linear;
}

.Card__container--title {
  position: absolute;
  width: 120px;
  font-weight: 700;
  letter-spacing: .8px;
  color: #fff;
  border-radius: 5px;
  padding: 5px 20px;
  top: -12%;
  left: 25%;
  box-shadow: 0 2px 4px rgba(0,0,0,.18);
  transform: translateX(-50%);
}

.Card__container--title::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  z-index: 1;
  top: 95%;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
}

.Card__container--title-1 {
  background-color: #f7931d;
}

.Card__container--title-1::before {
  background-color: #f7931d;
}

.Card__container--title-2 {
  background-color: #1a82e2;
}

.Card__container--title-2::before {
  background-color: #1a82e2;
}

.Card__container--title-3 {
  background-color: #36d081;
}

.Card__container--title-3::before {
  background-color: #36d081;
}

.Card__container--text {
  text-align: left; 
  line-height: 1.8; 
  color: #666;
}

@media only screen and (max-width: 990px) {
  .Skills__container {
    max-width: 600px;
    margin: 0 auto;
  }
}

/*X-small Mobile devices*/
@media only screen and (max-width: 376px) {
  .Card__container--text {
    font-size: 14px;
    letter-spacing: .6px;
  }
}